h1 {
    color: brown;
    text-align: center;
    
}
h2 {
    color: green;
    text-align: center;
}
header{
    text-align: center;
}
.movimientos {
    width: 40%;
    font-size: 18px; 
    border: 1px solid red;
    display: inline-block;
    
}
.tabla-movimientos{
    width: 100%;
}
.truco{
    float: right;
}
footer{
    border: 1px solid blue;

}
